/* Footer */
footer { 
    background: $darkergray;
    padding-top: 100px;
    color: $gray2;

    h2 { 
        color: #f3f3f4; 
        margin-bottom: 35px;
        font-weight: 200;
    }
    
    .upper { 
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;
        border-bottom: 1px solid $lightgray;
       
        .iacademy { 
            display: flex;
            flex-direction: column;
            width: calc(100% / 4);
    
            img { margin-bottom: 35px; }
            
            .contacts { 
                display: flex;
                flex-direction: column; 
                color: white;
    
                span { margin-top: 25px; }
            }

            p { text-transform: capitalize; }
        }
    
        .popular { 
            div { margin-bottom: 20px; }
    
            span { font-size: 14px; }
        }
    
        .support { 
            li { margin-bottom: 13px; }
        }
    
        .flexible { 
            img { width: 200px; }
        }    
    }

    .bottom { 
        display: flex;
        justify-content: space-between;
        padding: 50px 0;

        .socials { 
            width: 400px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-transform: uppercase;
        }
    }
}
/* /Footer */