/* Header */
header { 
    height: 650px;
    width: 100%;
    position: relative;
    color: white;
    
    a { 
        color: white; 
        text-decoration: none;
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-transform: uppercase;
        padding: 35px 0;

        i { 
            margin-left: 30px; 
            font-size: 20px;
        }

        .icons { 
            position: relative; 
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100px;
        }

        .cart_items { 
            background: #40c4ff;
            border-radius: 50%;
            position: absolute;
            top: -5px;
            left: 45px;
            font-size: 10px;
            padding: 0 5px;
        }

        .scroll_up { 
            width: 60px;
            height: 60px;
            background: $lightblue;
            color: white;
            position: fixed;
            bottom: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            z-index: 9999;

            i { margin: unset; }
        }
    }
    .intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 400px;    
        
        h1, p { margin-bottom: 20px; }

        h1 { font-size: 65px; }

        p { text-align: center; }

        &>a { margin-top: 35px; }
    }
    .circles {
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);

        &> i:nth-child(1),
        &> i:nth-child(2) {
            opacity: 0.2;
            margin-right: 5px;
        } 
        i { font-size: 18px; }
    }
}
header:after {
    content: "";
    background-image: url('../img/course-9-f-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.7);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}
/* /Header */