/* Main */
main {
    color: $darkgray;
    h2 { font-size: 40px; }

    .cards { 
        margin: 55px 0 100px 0;
        
        .container { 
            display: flex;
            justify-content: space-between;
        }

        .card {
            background: $lighterblue;
            height: 180px;
            width: 150px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            img { width: 70px;}
    
            h4 { margin-top: 25px;}
        }
    }

    .tutoring,
    .empowering {
        h2, p { margin-bottom: 25px; }
        a { 
            text-transform: uppercase; 
            color: $lightblue;
            font-weight: bold;
        }
    }

    .empowering { 
        height: 500px;
        position: relative;
        padding-left: 55%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 40px 0;

        p { width: 45%; }

        img { 
            width: 500px;
            position: absolute;
            top: 100px;
            left: 25%;
        }

        .data { 
            display: flex;
            color: $lightblue;

            & > div:nth-child(1) { margin-right: 18%; }
            h2 { margin-bottom: 10px; }
            span { font-weight: bold; }
        }
    } 

    .reviews { 
        color: white;
        background: $lightblue2;
        height: 600px;
        padding: 105px 0;
        position: relative;

        & > div,
        &> div > div { height: 100%; }

        &> div > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            
            p { 
                width: 75%; 
                text-align: center;
                line-height: 30px;
            }
            .person { 
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h4 { 
                    font-size: 21px; 
                    margin-bottom: 10px;
                }
                span { 
                    text-transform: uppercase;
                    font-size: 14px;
                }
            }
            .circles { 
                & > i:nth-child(1),
                & > i:nth-child(3) { 
                    opacity: 0.5;
                    margin: 0 10px;
                }
            }
        }
    }
    .reviews:after {
        content: "";
        background-image: url('../img/interactive-map-slider-img-1.png');
        background-repeat: no-repeat;
        background-size: cover;
        filter: brightness(10);
        top: 200px;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute; 
    }

    .possibilities {
        height: 650px;
        border-bottom: 1px solid rgb(240, 240, 240);

        & > div { 
            display: flex;
            align-items: center;
            height: 100%;
        }

        .left { 
            width: 250px;
            border: 1px solid #eeeeee;
            color: #888080;

            li { 
                padding: 25px 0 25px 25px;
                border-bottom: 1px solid #eeeeee;
                list-style: none;
            }

            li:nth-child(1) { 
                color: $lightblue; 
                border-left: 5px solid $lightblue;
            }
            li:nth-child(6) { border: unset; }
        }

        .right { 
            width: calc(100% - 250px);
            padding: 0px 40px;
            height: 60%;
            position: relative;

            h2 { margin-bottom: 25px; }
            p { margin-bottom: 50px; }
            li { 
                list-style: none; 
                margin: 30px 0;
                width: 55%;
            }
            i { color: $lightblue; }
            img { 
                position: absolute;
                top: 65%;
                right: 250px;
                width: 130px;                
            }
            p, li { color: #888080; }
        }
    }

    .courses { 
        background: url(../img/background-pattern.jpg);
        padding: 100px 0;
        text-align: center;
        background-size: 245%;
        background-position: bottom;
        border-bottom: 1px solid rgb(240, 240, 240);

        h2 { margin-bottom: 20px; }
        & > p { 
            width: 85%;
            margin: auto;
        }
        .course_cards { 
            display: flex;
            justify-content: space-between;
            padding-top: 100px;

            & > div { 
                width: calc((100% - 100px) / 3);
                text-align: left;
                border: 1px solid #efefef;
                background: white;
            
                h5 { font-size: 16px; }

                h5, h6, p { padding: 0 15px; }

                h6 { 
                    margin-bottom: 15px; 
                    color: lightgray;
                    font-size: 13px;
                }    
            }
            img { 
                width: 100%;
                height: 200px;
                object-fit: cover;
                margin-bottom: 15px;
            }

            .meta { 
                color: lightgray;
                text-transform: uppercase;
                padding: 25px 15px;
                font-size: 14px;

                span { margin-right: 10px; }
            }


        }

        .circles { 
            color: $lightblue;
            font-size: 14px;

            i:nth-child(1),
            i:nth-child(3) { 
                opacity: 0.5; 
                margin: 30px 10px;
            }
        }
    }

    .prices { 
        padding: 100px 0;
        border-bottom: 1px solid rgb(240, 240, 240);

        .intro { 
            text-align: center;
            margin-bottom: 70px;

            h2 { margin-bottom: 25px; }
        }
        table { 
            width: 100%;
            border-collapse: collapse;
            border-top: 5px solid #d6f2ff;
            
            thead td { color: #303030; }

            thead > tr td:nth-child(3) { border-top: 5px solid $lightblue; }

            thead > tr td:nth-child(2),
            thead > tr td:nth-child(3),
            thead > tr td:nth-child(4) { 
                background: #f7fdff; 
                img, h3 { margin: 20px;}
            }
        }

        td { 
            width: calc(100% / 4);
            border: 1px solid #eeeeee;
            padding: 15px;
            font-size: 20px;

            .fa-check { color: $lightblue; }

            .blue_btn { 
                vertical-align: 2px;
                color: white;
            }

            color: #808080;
        }

        tr > td:nth-child(2),
        tr > td:nth-child(3),
        tr > td:nth-child(4) {
            text-align: center;
        }

        .buy { 
            height: 85px; 
            td:nth-child(2),
            td:nth-child(3),
            td:nth-child(4) {
                background: #f7fdff;
            }

            td:nth-child(1) { 
                border-left: unset;
                border-bottom: unset;
             }

            color: white;

            .white_btn { @include white_btn; }
        }
    }

    .logos { 
        height: 200px;
        
        & > div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
        }
    }
}
/* /Main */