/* Main */
main {
    color: $darkgray;
    h2 { font-size: 40px; }
    a { text-decoration: none; }

    .cards { 
        display: flex;
        justify-content: space-between;
        margin: 55px 0 100px 0;
        
        .card {
            background: $lighterblue;
            height: 180px;
            width: 150px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            img { width: 70px;}
    
            h4 { margin-top: 25px;}
        }
    }

    .tutoring {
        h2, p { margin-bottom: 25px; }
        a { 
            text-transform: uppercase; 
            color: $lightblue;
            font-weight: bold;
        }
    }

}
/* /Main */