/* Variables */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Noto+Sans&display=swap');

$lightblue: #40c4ff;

@mixin blue_btn {
    padding: 17px 40px;
    background: $lightblue;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

/* /Variables */