/* Variables */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Noto+Sans&display=swap');

$lightblue: #40c4ff;
$lighterblue: #f2f8fc;
$lightblue2 : #3baee2;

$darkgray: #303030;
$darkergray: #222222;
$gray: #595959;
$lightgray: #c1c1c1;

$red: #ef2853;

@mixin blue_btn {
    padding: 17px 40px;
    background: $lightblue;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

@mixin white_btn {
    padding: 17px 40px;
    background: white;
    border: 3px solid #eeeeee;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

/* /Variables */